/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation styles */
nav {
    background-color: #202020;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-link {
    color: #fff;
    font-size: 1.4rem; /* Increased font size */
    text-decoration: none;
    padding: 15px 25px; /* Increased padding */
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ff7b00;
}

/* Hero section styles */
.hero {
    background-image: url('images/64144A.JPG'); /* Background image */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 4rem; /* Increased font size */
    margin-bottom: 20px;
}

.tagline {
    font-size: 1.8rem; /* Increased font size */
    margin-bottom: 40px;
    opacity: 0.8;
}

/* Contact information styles */
.contact-info {
    background-color: #202020;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px; /* Added margin */
}

.contact-info a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: #ff7b00;
}

